.params {
  font-size: 16px;
  line-height: 120%;
  &-nav {
    margin: 10px 0;
    a,
    b {
      display: inline-block;
      margin-right: 10px;
    }
    a {
      color: var(--link-color);
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    b {
      a {
        margin-right: 0;
      }
      
    }
    .active {
      color: var(--type-color);
    }
  }
  &-btn-block {
    display: flex;
    gap: 15px 10px;
    flex-wrap: wrap;
  }
}