.params {
  font-size: 16px;
  line-height: 120%;
  &-nav {
    margin: 10px 0;
    a {
      color: var(--link-color);
      margin-left: 10px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    b {
      a {
        margin-left: 0;
      }
      
    }
    .active {
      color: var(--type-color);
    }
  }
}