.journal {
  --j-background: #282828;
  --j-color-time: #dc8d45;
  --j-color-mes: #618ff8;
  --j-color-action: #45bd90;
  --j-color-results: #c9e917;
  --j-color-error: #c71c16;

  left: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 50%;
  text-align: center;
  transform: translateY(100%);
  transition: transform .4s ease-in-out 0s;
  .wrapper {
    color: #fff;
    background: var(--j-background);
    text-align: left;
    position: relative;
    z-index: 1;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    border-radius: 10px 10px 0 0;
    padding-top: 20px;
    @-moz-document url-prefix() {
      & {
        scrollbar-width: auto;
        scrollbar-color: var(--j-color-time) var(--j-background);
      }
    }
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--j-background);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--j-color-time);
      border-radius: 20px;
    }
  }
  &-open {
    transform: translateY(0%);
  }
  &-label {
    top: -44px;
    left: 50%;
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    background: var(--j-background);
    box-sizing: border-box;
    position: absolute;
    transform: translateX(-50%);
    user-select: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, .4);
  }
  &-wrap-items {
    display: table;
    width: 100%;
    div,
    span {
      &::selection {
        color: #000;
        background: var(--j-color-action);
      }
    }
  }
  &-item {
    font-size: 14px;
    display: table-row;
    &-time,
    &-message {
      display: table-cell;
      padding: 15px 5px;
      border-bottom: 1px solid #fff;
    }
    &-time {
      font-size: 12px;
      color: var(--j-color-time);
      width: 120px;
      span {
        margin-left: 10px;
      }
    }
    &-message {
      color: var(--j-color-mes);
    }
    &-start &-message,
    &-end &-message {
      font-weight: bold;
      color: var(--j-color-action);
    }
    &-results &-message {
      color: var(--j-color-results);
    }
    &-error &-message {
      color: var(--j-color-error);
    }
  }
}