html
  head
    title= title 
    description= description
    link(rel="stylesheet" href="/css/main.css")
  body 
    #main 
      #wrapper
        nav 
          a(href="/javascript") Javascript
          a(href="/python") Python
          a(href="/react") React
          a(href="/angular") Angular
          a(href="/typescript") Typescript
        main
          block content