extends ./base/main.pug

include ./services/mixins.pug

block content
  ul
    li
      a(href='#shop-javascript') Товары по запросу javascript
    li
      a(href='#shop-python') Товары по запросу python
    li
      a(href='#shop-react') Товары по запросу react
    li
      a(href='#shop-typescript') Товары по запросу typescript
    li
      a(href='#shop-angular') Товары по запросу angular

  #shop-javascript
    +output('javascript', 'cgJavascript', 'lbJavascript')
  #shop-python
    +output('python', 'cgPythonr', 'lbPythonr')
  #shop-react
    +output('react', 'cgReact', 'lbReact')
  #shop-typescript
    +output('typescript', 'cgTypescript', 'lbTypescript')
  #shop-angular
    +output('angular', 'cgAngular', 'lbAngular')