mixin header(fraze, shop)
  h3 Товары по запросу "#{fraze}" для #{shop}

mixin nullFraze(fraze, typeShop)
  p
    b Для поисковой фразы #{fraze} на #{typeShop == 'cg' ? 'читай-городе' : 'лабиринте'} нет товаров!!!