extends ./base/main.pug

include ./services/outputs.pug

block content
  if nameShop == 'cg'
    +outputCgShop(fraze, 'читай-города', shop)

  if nameShop == 'lb'
    +outputLbShop(fraze, 'лабиринта', shop, false)