extends ./base/main.pug

include ./services/outputs.pug

block content
  if shops.cgItem || shops.lbItem
    #shop-javascript
      +newOutput(fraze, 'cgItem', 'lbItem')
  else 
    div По запросу #{fraze} нет новых товаров!!!