.btn {
  --btn-bg: #444;
  --btn-bg-hover: #656565;

  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bg);
  transition: background-color .4s ease-in 0s;
  &:hover {
    background: var(--btn-bg-hover);
  }
  &[disabled] {
    opacity: .4;
  }
}